<div class="container">
    <div class="row">
        <div class="col">
            <h2>Segment</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            [@name]
        </div>
        <div class="col">
            Distance: [@distance]<br />
            Avg. Grade: [@avggrade]<br />
            Max Grade: [@maxgrade]<br />
            Elevation Gain: [@elevgain]
        </div>
        <div class="col">
            Category: [@category]
        </div>
        <div class="col">
            [@location]
        </div>
    </div>
</div>